@model IEnumerable<CategoriaModel>
@{
    ViewBag.Subtitulo = "Listagem de Categoria";
}

<header class="d-flex justify-content-between align-itens-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Cadastrar" class="btn btn-primary">Nova Categoria</a>
    </div>
</header>
<hr>

<partial name="_Mensagem"></partial>

@if(Model.Count() > 0)
{
    <table class="table table-striped tabela-categoria">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr>
                    <td>@categoria.Nome</td>
                    <td>
                        <a asp-action="Cadastrar" asp-route-id="@categoria.IdCategoria" class="btn btn-sm btn-secondary">Alterar</a>
                        <!-- asp-route-id = define um id passado vai url para a action -->
                        <a asp-action="Excluir" asp-route-id="@categoria.IdCategoria" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else 
{
    <p> Nenhuma categoria cadastrada !! </p>
}