@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary"> Bem vindo ao <b>EstoqueWeb</b> </h1>
<hr>
<p>Essa aplicação é um teste de BD em aplicações web que permite gerenciar um estoque de produtos e categorias </p>