@model ProdutoModel
@{
    ViewBag.Subtitulo = "Exclusão de Produto";
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>
<h4>Deseja realmente excluir o Produto <span class="text-danger">@Model.Nome</span>?</h4>

<form asp-action="Excluir">
    <input type="hidden" asp-for="@Model.idProduto">
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-success">Não</a>
        <button type="submit" class="btn btn-danger">Sim</button>
    </div>
</form>